---
interface Props {
  title: string;
  img_src: string;
  img_width: string;
  img_height: string;
}

const { title, img_src, img_width, img_height } = Astro.props;
---

<li class="carousel-item">
  <img
    src={img_src}
    alt={title}
    width={img_width}
    height={img_height}
    class="w-full"
  />

  <a href="/">
    <p class="text-xl xl:text-2xl font-medium hover:text-gray-700">{title}</p>
  </a>
</li>

<style>
  .carousel-item {
    scroll-snap-align: start;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: calc(33.33% - 0.5rem);

    /* Responsive */
    @media (max-width: 1600px) {
      width: calc(30% - 0.5rem);
    }

    @media (max-width: 1024px) {
      width: calc(75% - 0.5rem);
    }
  }
</style>
